<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129983944910-f76bbvi4n7nkr2fp92ff1aa1hb508sfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129983944910-f76bbvi4n7nkr2fp92ff1aa1hb508sfn</string>
	<key>API_KEY</key>
	<string>AIzaSyDeVpWvE3etvJmxPblumwk2fxMpN1Bv2-E</string>
	<key>GCM_SENDER_ID</key>
	<string>129983944910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RodrigoKroefTarouco.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>login---viewcode-a3044</string>
	<key>STORAGE_BUCKET</key>
	<string>login---viewcode-a3044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129983944910:ios:db516378cf288f6950d89f</string>
</dict>
</plist>